# Environments and Local Settings
.env
.env/
env/
myenv/
venv/

# Python Cache Files
__pycache__/
*.pyc

# Local Databases
*.sqlite3
db.sqlite3

# Static and User Upload Directories
backend/media/
backend/staticfiles/
media/
staticfiles/